*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "MaFont";
    src: url("./font/futura_medium_bt.ttf")
}

body .container     {
    font-family: "MaFont";
    position: relative;
    overflow-x: hidden;
}

.top_site a{
    padding: 50px;
    right: 0;
    text-decoration: none;
    top: 20px;
    color: #F3C53C;
    font-size: 25px;
    position: fixed;
    background: -webkit-linear-gradient(0.25turn,#F3C53C,#04C4D9);
    -webkit-background-clip: text;
    animation-name: gradient_txt;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

@keyframes gradient_txt{
    from {
        -webkit-filter: hue-rotate(0deg);
    }
      to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

.container{
    width: 1000px;
    margin: auto;
    color: white;
    text-align: right;
}
nav{
    left: 0;
    top: 150px;
    left: -40px;
    position: fixed;
    z-index: 100;
}

nav .btn_link a{
    color: white;
    text-decoration: none;
    
}
.btn_link{
    text-align: right;
    font-size: 60px;
    height: 100%;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 0px 30px 30px 0px;
    box-shadow: 10px 5px 5px rgba(9, 9, 150, .05);
    
}

.btn_link:nth-child(1){
    background-color: #FF7BAC;
}
.btn_link:nth-child(2){
    background-color: #04C4D9;
}
.btn_link:nth-child(3){
    background-color:#049DBF;
}

.landing{
    background-color: #F3C53C;
    height: 100vh;
}

header svg{
    padding-top: 100px;
    display: block;
    margin: auto;
    /* width: 50%; */
}
#apropos{
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(#F3C53C, #FF7BAC);
}

#apropos .container p{
    text-align: right;
}

#apropos .container{
    color:white;
    display: flex;
    justify-content:right;
}
#apropos h3 {
color: white;
}

.formations{
    width: 50%;
}
.professionnel{
    width: 50%;
}

.formations h3{
    text-align: right;
}
.professionnel h3{
    text-align: right;
}
.competences{
    width: 50%;
}
.langues{
    width: 50%;
}

.competences h3{
    text-align: right;
}
.langues h3{
    text-align: right;
}

#apropos .container:last-child{
    padding-top: 50px;
    padding-bottom: 50px;
}

#carouselExampleCaptions{
    margin: auto;
    width: 50%;
}

#realisations{
    background: linear-gradient(#FF7BAC,#049DBF );
}
.loisir{
    display: flex;
    justify-content: flex-end;
}

.loisir .container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.loisir .container .picto_2{
    padding-bottom: 20px;
}

.loisir .container svg{
    margin-top: 30px;
    margin-left: 30px;
}

#realisations{
    /* padding-top: 50px; */
    padding-bottom: 50px;
}

#realisations h3{
    padding-bottom: 20px;
}

#realisations h4{
    font-size: 18px;
    text-align: center;
    font-style: italic;
}

#realisations a{
    color: #F3C53C;
    text-decoration: none;
}

#realisations a:hover{
    color: #FF7BAC;
    text-decoration: none;
}

#contact{
    background: linear-gradient(#049DBF, #F3C53C );
    padding-top: 100px;
    padding-bottom: 50px;
}

#contact .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact .container h3{
    align-self: flex-end;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

form .field_one{
    width: 600px;
    border: solid 0px;
    border-radius: 15px;
}

.btn_send{
    margin-top: 5px;
    border: solid 0px;
    border-radius: 5px;
    padding: 5px;
}

footer{
    z-index: 10000;
    width: 100%;
    position: sticky;
    background-color: black;
    bottom: 0;
    padding: 15px;
}

footer a{
    color: white;
}

footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .container .img_footer{
    display: flex;
    height: 25px;
}

footer .container p{
    margin-bottom: 0%;
}
.btn_envoyer{
    width: 55%;

}

.btn_envoyer{
    width: 150px;
}
.btn_send{  
    color: #049DBF;
    background-color:#F3C53C;
}
/*--------------------------------------------------------------------------------------*/
@media screen and (max-width:1000px) {

    .top_site{
        display: none;
    }

    nav{
        /* left: 0; */
        top: 50px;
        left: -40px;
        position: fixed;
        z-index: 100;
    }

    .btn_link{
        font-size: 15px;
    } 

    #apropos .container{
        width: 90%;
        font-size: 11px;
    } 

    header .container{
        width: 90%;
        padding-top: 0px;
    }

    .first_svg{
        width: 100%;
    }

    .landing{
        height: 50vh;
        padding: 0px;
    }

    footer .container{
        flex-direction: column;
    }

    #carouselExampleCaptions{
        width: 90%;
    }

   #apropos .container h3{
        font-size: 13px;
        color:black;
        font-style: italic;
       
   }
    #apropos .container{
        color:white;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .loisir .container .picto_1 .picto_2{
        margin-top: 30px;
        margin-left: 30px;
        width: 50%;
    }
    
    form .field_one{
        width: 300px;
    }
}
